.topic__top {
  padding: 10px;
  line-height: 1.5;
}

.topic__title {
  font-weight: bold;
}

.topic__comment {

}

.reply, .topic__comment-num {
  border-bottom: 1px solid #d7d7d7;
}

.reply {

}

.reply__top {
  display: flex;

}

.markdown-html {
  word-wrap: break-word;
}
.markdown-html * {
  max-width: 100%;
}

.markdown-html a {
  text-decoration: none;
}
